---
import Layout from '../layouts/Layout.astro';

import Carrousel from '../components/carrousel.astro';
import Planetas from '../components/planetas.astro';
import Universo from '../components/Universo.astro'
import Curiosidades from '../components/Curiosidades.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="THE UNIVERSAL">
	
	<main>
		
			<Carrousel
			title="Hola mundo">
			</Carrousel>	
		
		
			<Planetas></Planetas>
		
		
			<Universo></Universo>
			<Curiosidades></Curiosidades>
	</main>
	<footer>
		<Footer></Footer>
	</footer>
</Layout>


