---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Menu from '../components/Menu.astro';
import Carrousel from '../components/carrousel.astro';
---

<Layout title="THE UNIVERSAL">
	<header>
		<Menu 
		item1="Inicio"
		item2="Planetas"
		item3="Curiosidades"
		item4="Sistema Solar"
		></menu>
		
	</header>
	<main>
		<Carrousel
		title="Hola mundo">
		</Carrousel>	
	</main>
</Layout>

<style>
	header {
		margin: auto;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	
	main{
		margin: auto;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	
	
</style>
