---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Menu from '../components/Menu.astro';
import Carrousel from '../components/carrousel.astro';
---

<Layout title="THE UNIVERSAL">
	
	<main>
		<Carrousel
		title="Hola mundo">
		</Carrousel>	
	</main>
</Layout>


