--- 

interface Props{
title:String
}

let index= 0;

const {title} = Astro.props
const img=['../../public/images/Firefly genera una imagen de nuestro sistema solar 81877 (1).jpg','../../public/images/galaxiaViaLactea.webp','../../public/images/galaxiaEnanaMayor.jpg']
const totalSlide= {img.length}

function moveSlide(direction){
    index= (index + direction + totalSlide) % totalSlide;
    document.querySelector('.flex').style.transform = `traslateX(-${index * 100}%)`;
}
---



    <div class="relative overflow-hidden w-10/12 h-3/6 mx-auto">
        <div class=" flex transition-transform duration-500 ease-in-out" style="transform: translateX(-index * 100%)">
            { img.map(item=>(
                <img src={item} alt="universos" class="w-full h-auto object-contain">
            ))}
        </div>
        <button class=" absolute top-1/2 left-0 p-4 transform -translate-y-1/2 bg-gray-800 text-white" onClick={()=> moveSlide(-1)}></button>
        <button class=" absolute top-1/2 right-0 p-4 transform -translate-y-1/2 bg-gray-800 text-white" onClick={()=>moveSlide(1)}></button>
    </div>
