--- 

interface Props{
title:String
}



const {title} = Astro.props
const img=['../../public/images/Firefly genera una imagen de nuestro sistema solar 81877 (1).jpg','../../public/images/galaxiaViaLactea.webp','../../public/images/galaxiaEnanaMayor.jpg']
let currentIndex= 0;

---



    <div class="relative w-full max-w-lg mx-auto">
        <div id="carousel" class="overflow-hidden">
            <div id="carouselInner" class="flex transition-transform duration-500">
                {img.map((item,index)=>(
                    <img src={item} alt={`Foto ${index+1}`} class="w-full h-64 object-cover"/>
                ))}
            </div>
        </div>

        <!-- Botones de control -->
        <button id="prevBtn" class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-800 text-white px-4 py-2 rounded-l-md">
            &#8249;
        </button>
        <button id="nextBtn" class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-800 text-white px-4 py-2 rounded-r-md">
            &#8250;
        </button>
    </div>
