---



---


<div class="grid grid-cols-2 gap-x-5 bg-neutral-100 w-[1120px] lg:max-w-full mx-auto my-12 rounded-md">
    <div class=" space-y-4">
        <h1 class="text-4xl font-bold text-neutral-950 pl-3 pt-3 z-20">El Universo</h1>
        <p class="text-neutral-950 opacity-80 pt-3 pl-3">
            El universo es la totalidad de todo lo que existe, incluyendo el espacio, el tiempo, la materia, la energía, las galaxias, las estrellas, los planetas 
            y todas las formas de vida. Se cree que el universo comenzó hace aproximadamente 13.8 mil millones de años con el Big Bang, una explosión cósmica que marcó 
            el inicio de su expansión desde un estado extremadamente denso y caliente.
        </p>
    </div>
    <div class="w-full ">
        <img src="../../public/images/universo.jpg" alt="universo" class="object-cover w-full rounded-md h-64">
    </div>
</div>
