---
// Supports weights 100-900
import '@fontsource-variable/onest';
import Menu from '../components/Menu.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		
		<header>
			<Menu 
			item1="Inicio"
			item2="Planetas"
			item3="Curiosidades"
			item4="Sistema Solar"
			></menu>
			
		</header>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Onest Variable',system-ui, sans-serif;
	}

	body{
		
		background: rgb(236,235,236);
		background: linear-gradient(356deg, rgba(236,235,236,1) 0%, rgba(183,218,233,1) 74%, rgba(156,229,244,1) 100%);
		display: flex;
		flex-direction: column; 
		overflow-x: hidden;
		min-height: 100vh;
	}
	
</style>
